div#contenido {
    height: 100vh;
}

div#contenido div {
    float: left;
    width: 25%;
    height: 100%;
    overflow: hidden;
    border: 2px dashed beige;
    padding: 20px;
    color: #333333;
    margin-left: 6%;
}

div#contenido div:hover {
    width: 32%;
    overflow: auto;
    transition: 1s;
    box-shadow: 3px 3px 20px 5px #333333;
}

div#contenido div#LigaFem {
    background-image:
        linear-gradient(180deg, palevioletred,
            lightpink, palevioletred);
}

div#contenido div#LigaGen {
    background-image:
        linear-gradient(180deg, lightseagreen,
            lightgreen, lightseagreen);
}

div#contenido div#LigaFutures {
    background-image:
        linear-gradient(180deg, cornflowerblue,
            lightblue, cornflowerblue);
}

div#contenido div h1 {
    letter-spacing: 3px;
}

div#contenido div h2 {
    line-height: 200%;
    text-indent: 5px;
}

div#contenido div ul {
    list-style: square inside;
}