ul {
    position: absolute;
    top: 15%;
    left: 3%;
}

ul li {
    background-color: beige;
    margin-bottom: 10px;
    width: 102%;
    list-style-type: none;
}

ul li:hover {
    transform: translatex(10px);
    transition: 0.5s;
    box-shadow: 5px 5px 20px 5px #00d4d7;
    background-color: #9a5cff;
}

ul li a:hover {
    color: beige;
}

ul li a {
    text-decoration: none;
    color: #00d4d7;
    display: block;
}

ul li img {
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}

div#cuadro {
    position: absolute;
    left: 22%;
    top: 12%;
    right: 10%;
    bottom: 25%;
    overflow: hidden;
    border: 5px dashed #00d4d7;
    background-color: white;
    box-shadow: 2px 2px 10px 5px #9a5cff;
}

div#cuadro div.info {
    width: 100%;
    height: 100%;
    position: relative;
}

div#cuadro div.info img {
    width: 100%;
    height: 100%;
    filter: opacity(0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

div#cuadro div.info div {
    color: #333333;
    position: relative;
    z-index: 2;
    padding: 10px 20px;
}

div#cuadro div.info div h1,
div#cuadro div.info div h3,
div#cuadro div.info div p {
    line-height: 200%;
}

footer {
    position: fixed;
}