* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cascadia Code';
    color: cornsilk;
}

img#background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    position: fixed;
    width: 100%;
    background-color: beige;
    text-align: center;
    z-index: 1;
}

header a img {
    height: 40px;
    float: left;
    padding-left: 20%;
}

header nav {
    padding-right: 20%;
}

header nav a {
    padding: 10px 3%;
    text-decoration: none;
    height: 40px;
    display: inline-block;
    color: #9a5cff;
}

header nav a:hover {
    background-color: cadetblue;
    color: #00d4d7;
}

div#contenido {
    padding: 4%;
}

div#contenido h1,
div#contenido h3 {
    text-align: center;
    line-height: 120%;
}

div#contenido table {
    color: beige;
    background-color: #ff4a43;
    border: 5px dotted beige;
    empty-cells: hide;
    caption-side: bottom;
    height: 65vh;
    width: 100%;
    font-size: 120%;
}

div#contenido table tr td,
div#contenido table tr th {
    text-align: center;
    border: 2px solid #00d4d7;
    background-color: #ff4a43;;
}

div#contenido table tr th{
    border: 2px solid #9a5cff
}

div#contenido table tr td:hover{
    border-radius: 50px;
    transition: 1s 0.2s;
}

div#contenido table caption {
    margin-top: 20px;
}

div#contenido table caption ul li {
    list-style-type: none;
    display: inline-block;
}

div#contenido table caption ul li span.cuadrado {
    width: 30px;
    height: 15px;
    display: inline-block;
    margin-right: 8px;
    border: 1px solid beige;
}

div#contenido table caption ul li span.cuadrado.Liga,
div#contenido table tr td.Liga {
    background-color: red;
}

div#contenido table caption ul li span.cuadrado.Champions,
div#contenido table tr td.Champions {
    background-color: navy;
}

div#contenido table caption ul li span.cuadrado.Europa,
div#contenido table tr td.Europa {
    background-image: linear-gradient(90deg, darkorange, darkgreen);
}

div#contenido table caption ul li span.cuadrado.Selecciones,
div#contenido table tr td.Selecciones {
    background-image: linear-gradient(90deg, red, red,
            yellow, red, red);
    color: #333333;
}

a#flecha img {
    width: 4%;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border: solid beige;
    border-radius: 50%;
}

a#flecha img:hover {
    transform: rotate(360deg) scale(1.4);
    transition: 1s;
}

footer {
    border-top: solid beige;
    text-align: center;
    padding: 10px;
    width: 50%;
    margin: 10px 25%;
    position: relative;
    bottom: 0;
}

footer p a img {
    height: 80px;
    border-radius: 20%;
}

footer p a img:hover {
    transform: skew(15deg);
    box-shadow: 5px 5px 20px 1px black;
}

footer p img {
    height: 80px;
    border-radius: 50%;
}