div#contenido div.noticia {
    border-radius: 5%;
    background-color: beige;
    color: slategrey;
    width: 300px;
    height: 400px;
    overflow: hidden;
    float: left;
    margin: 10px;
}

div#contenido div.noticia p,
div#contenido div.noticia h2 {
    padding: 5px;
}

div#contenido div.noticia img {
    border-radius: 5%;
    width: 300px;
    height: 150px;
}

div#contenido div.noticia:hover {
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 5px 5px 20px 2px black;
    overflow: auto;
    background-color: #333333;
    color: beige;
}

footer {
    position: static;
}