services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    container_name: espmig_web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./www:/var/www/html
      - ./conf/nginx:/etc/nginx/conf.d
      - ./certs:/etc/ssl/private

    dns:
      - 172.99.0.20

    networks:
      espmig_net:
        ipv4_address: 172.99.0.10
    restart: on-failure

  bind9:
    build:
      context: .
      dockerfile: Dockerfile.dns
    container_name: espmig_dns
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - ./conf/dns/named.conf.local:/etc/bind/named.conf.local
      - ./conf/dns/named.conf.options:/etc/bind/named.conf.options
      - ./conf/dns/zones:/etc/bind/zones
    networks:
      espmig_net:
        ipv4_address: 172.99.0.20
    restart: unless-stopped


# dns fallido
#   dns:
#     image: 4km3/dnsmasq:2.90-r3
#     container_name: espmig_dns
#     volumes: 
#       - ./conf/dns/dnsmasq.conf:/etc/dnsmasq.conf
#     ports:
#       - "53:53/udp"
#       - "53:53/tcp"
#     cap_add: # capacidad de administrar la red para escuchar puertos como el 53
#       - NET_ADMIN
#     networks:
#       espmig_net:
#         ipv4_address: 172.99.0.20
#     restart: on-failure

networks:
  espmig_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.99.0.0/24
