version: "3.9"

services:
  web:
    build: .
    container_name: espmig_web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./www:/var/www/html
      - ./conf/nginx:/etc/nginx/conf.d
      - ./certs:/etc/ssl/private
    networks:
      espmig_net:
        ipv4_address: 33.33.33.10
    restart: always

  dns:
    image: 4km3/dnsmasq:2.90-r3
    container_name: espmig_dns
    volumes: 
      - ./conf/dns/dnsmasq.conf:/etc/dnsmasq.conf
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    cap_add: # capacidad de administrar la red para escuchar puertos como el 53
      - NET_ADMIN
    networks:
      espmig_net:
        ipv4_address: 33.33.33.20
    restart: always

networks:
  espmig_net:
    driver: bridge
    ipam:
      config:
        - subnet: 33.33.33.0/24
